
footer {
    background-color: var(--background-color-200);
}


footer .container {
    max-width: var(--max-width);
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}


footer div p {
    color: var(--color-text-accent);
}
