@import url(/src/styles/components/header.css);
@import url(/src/styles/components/footer.css);

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --max-width: 1440px;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  --background-color-200: #181818;

  --color-text-accent: #277ee0de;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* START */


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  font-size: 16px;

  animation: fade-in 0.3s ease-in-out;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex-grow: 1;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-inline: 2rem;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}




/* ANIMATIONS */


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}